<header class="main-header">
    <h1 class="site-title">
    <a href="/">{{ shop.name }}</a>
  </h1>
  <nav>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/pages/about">About</a></li>
      <li><a href="/collections/all">Shop</a></li>
      <li><a href="/pages/gallery">Gallery</a></li>
    </ul>
  </nav>
  <div class="social-icons">
    <a href="https://facebook.com" aria-label="Facebook">{% render 'icon-facebook' %}</a>
    <a href="https://instagram.com" aria-label="Instagram">{% render 'icon-instagram' %}</a>
    <a href="https://youtube.com" aria-label="YouTube">{% render 'icon-youtube' %}</a>
    <a href="https://m.me/yourpage" aria-label="Messenger">{% render 'icon-messenger' %}</a>
  </div>
</header>