{% layout 'theme' %}
<section class="inner-template">
  <div class="error-container">
    <h1 class="error-title">Oops! Page Not Found.</h1>
    <p class="error-message">It seems the page you're looking for doesn’t exist. Head back <a href="/">home</a>.</p>
  </div>
</section>